<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h2>Book Registration Form</h2>
{% if msg %}
<b style="color: blue;">{{msg}}</b>
{% endif %}
<form method="POST" action="{% url 'index' %}">
{% csrf_token %}
<table cellpadding="10px" cellspacing="10px">
	<tr>
		<td>
			<label id="title">Title</label>
			<input type="text" name="title" id="title" value="{{ title }}">
		</td>
	</tr>
	<tr>
		<td>
			<label id="isbn">isbn</label>
			<input type="text" name="isbn" id="isbn" value="{{ isbn }}">
		</td>
	</tr>
	<tr>
		<td>
			<label id="publisher">Publisher</label>
			<input type="text" name="publisher" id="publisher" value="{{ publisher }}">
		</td>
	</tr>
	<tr>
		<td>
			<label id="author">author</label>
			<input type="text" name="author" id="author" value="{{ author }}">
		</td>
	</tr>
	


	<tr><td>
				<td colspan="2">
                <input type="hidden" id="action" name="action" value="">
                <button type="submit" onclick="document.getElementById('action').value='add';" class="btn btn-primary" >Add</button>
                <button type="submit" onclick="document.getElementById('action').value='select';" class="btn btn-primary" >Select</button>
                <button type="submit" onclick="document.getElementById('action').value='update';" class="btn btn-primary" >Edit</button>
                <button type="submit" onclick="document.getElementById('action').value='delete';" class="btn btn-primary" >Delete</button>
            </td>
            </tr>
</table>
</form>
</body>
</html>